$backgroundColor: #00ffd5;
$bodyColor: #69626d;
$bodyFont: "Quicksand", sans-serif;

body {
  background-color: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

