$backgroundColor: #F2E3E3;
$bodyColor: #161925;
$bodyFont: "Quicksand", sans-serif;

body {
  background-color: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

