---
---

@import "base";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
.full-screen-section {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

.info-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 50px;
  scroll-snap-align: start;
}

h1 {
  font-size: 2em;
}

#welcome {
  background-color: rgb(104, 104, 104);
}

#basicIntro {
  background-color: rgb(218, 8, 130);
}

#portfolioIntro {
  background-color: rgb(241, 117, 0);
}

#blogIntro {
  background-color: rgb(255, 0, 0);
}

#fullInfo {
  background-color: rgb(9, 255, 140);
}
