---
---

@import "base";

.full-screen-section {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.info-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}

.information-overview
{
  width: 70%;
}

.detailed-information
{
  width: 30%;
}

h1 {
  font-size: 4em;
}

#welcome {
  background-color: #37e9ac;
  scroll-snap-align: start;
}

#portfolioIntro {
  background-color: #88ccf1;
}

#blogIntro {
  background-color: #e8c7de;
}

#fullInfo {
  background-color: rgb(9, 255, 140);
}
