---
---

@import "base";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
.full-screen-section {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.info-item {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  scroll-snap-align: start;
}

h1 {
  font-size: 2em;
}

#welcome {
  background-color: #37e9ac;
  scroll-snap-align: start;
}

#basicIntro {
  background-color: #88ccf1;
}

#portfolioIntro {
  background-color: #d9bdc5;
}

#blogIntro {
  background-color: #e8c7de;
}

#fullInfo {
  background-color: rgb(9, 255, 140);
}
