---
layout: html-boilerplate
---
<!-- The above lets this file use the base.html file from _layouts as a skeleton for this file. -->
<!-- The contents of this file will be included where the content tags are in base.html. -->
<div id="site-wrapper">
    <div id="inner-wrapper">
        <div id="window-title">
            <p>kat.kipling@dev: ~</p>
        </div>
        <div id="window-body">
            <div id="top-command">
                <p>kat.kipling:~$ <span id="typedtext"></span></p>
            </div>

            <main class="fade-in-main">
                <div id="main-content">
                    {{ content }}
                </div>
    
                <nav id="navigation">
                    <div class="nav-button">
                        <p>info</p>
                    </div>

                    <div class="nav-button">
                        <p>portfolio</p>
                    </div>

                    <div class="nav-button">
                        <p>contact & links</p>
                    </div>
                </nav>
            </main>

            <div id="bottom-command" class="show-new-command">
                <p>kat.kipling:~$ </p>
            </div>
        </div>
    </div>
</div>

