---
layout: html-boilerplate
---
<!-- The above lets this file use the base.html file from _layouts as a skeleton for this file. -->
<!-- The contents of this file will be included where the content tags are in base.html. -->
<div id="site-wrapper">
    <div id="inner-wrapper">
        <div id="window-title">
            <p>kat.kipling@dev: ~</p>
        </div>
        <div id="window-body">
            <div id="top-command">
                <p>kat.kipling:~$ info</p>
            </div>

            <main>
                <div id="main-content">
                    <h1>Hi. I'm Kat.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at  consectetur tellus, sed facilisis mauris.
                        Aliquam convallis ipsum est,  eu suscipit est tempor sit amet. Donec consequat efficitur imperdiet.</p>
                    <p>Nunc laoreet semper nunc, ut mollis felis finibus ac. Nullam nisl diam,  tempus nec diam eget, maximus consectetur arcu. 
                        Sed malesuada, arcu  vitae euismod lobortis, ex urna placerat lacus, ac venenatis nisl purus  sed elit.</p>
                    <p>Ut viverra elit id magna tempor venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                        Maecenas lacinia laoreet tortor, quis posuere quam efficitur vulputate.</p>
                </div>
    
                <nav id="navigation">
                    <div class="nav-button">
                        <p>info</p>
                    </div>

                    <div class="nav-button">
                        <p>portfolio</p>
                    </div>

                    <div class="nav-button">
                        <p>contact & links</p>
                    </div>
                </nav>
            </main>

            <div id="bottom-command">
                <p>kat.kipling:~$ </p>
            </div>
        </div>
    </div>
</div>

