---
layout: html-boilerplate
---
<!-- The above lets this file use the base.html file from _layouts as a skeleton for this file. -->
<!-- The contents of this file will be included where the content tags are in base.html. -->
<div class="full-screen-section" id="fullScreenSection">
    <div id="welcome" class="info-item">
        <div class="information-overview">
            <h1>Hi! I'm Kat.</h1>
            <h2>I'm mainly a backend developer from Belfast, but I can do frontend too.</h2>
        </div>
        <div class="detailed-information">
            <p>I mainly work with C#, Python and SQL for server-side scripting and data engineering. However, I know a range of other programming languages,
                including front-end technologies such as HTML5+CSS3+JS and Angular.
            </p>

            <p>
                In my spare time, I enjoy learning music (I play guitar and bass), video games such as Valorant, and spending time with friends.
            </p>
        </div>
    </div>

    <div id="portfolioIntro" class="info-item">
        <div class="detailed-information">
            <p>most recent portfolio work will go here waowie</p>
        </div>
        <div class="information-overview">
            <h1>See all <a href="{% link portfolio.md %}">my projects</a></h1>
        </div>
        
    </div>

    <div id="blogIntro" class="info-item">
        <div class="information-overview">
            <h1>Read all posts about <a href="{% link blogs.md %}">what I'm doing.</a></h1>
        </div>
        <div class="detailed-information">
            <p>most recent blog post go here waowie again</p>
        </div>
    </div>

    <div id="fullInfo" class="info-item">
        {{ content }}
    </div>
</div>

